<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://ci4.googleusercontent.com/proxy/Rgs3bwbV4fbLAQtTw-z1NEbCLh-Aqezdj62dFRPgl2MwnxEKxz7Kwpv8nA-_LPK6mUrOY52yNpPrB0Sy55nbRzQnBXEvAgv4Jv3MF6qUli-y62tdPml-bavW15RJR6qnsi_ErHgGND7X2ct_Qm0eXayYRTQeZXcLIRWHgLKFazw=s0-d-e1-ft#https://img-b.udemycdn.com/course/304x171/2305772_1fe8_2.jpg?secure=fZ7OjJ_kQGI2x3RaM3ShNQ%3D%3D%2C1641774181">

<button>OKKKKKKKKKK</button>

<img width="100%" valign="top" style="display:block;width:100%;max-width:240px"
     alt="Try Django 2.2 - Web Development with Python 3.6+"
     src="https://ci4.googleusercontent.com/proxy/Rgs3bwbV4fbLAQtTw-z1NEbCLh-Aqezdj62dFRPgl2MwnxEKxz7Kwpv8nA-_LPK6mUrOY52yNpPrB0Sy55nbRzQnBXEvAgv4Jv3MF6qUli-y62tdPml-bavW15RJR6qnsi_ErHgGND7X2ct_Qm0eXayYRTQeZXcLIRWHgLKFazw=s0-d-e1-ft#https://img-b.udemycdn.com/course/304x171/2305772_1fe8_2.jpg?secure=fZ7OjJ_kQGI2x3RaM3ShNQ%3D%3D%2C1641774181"
     class="CToWUd a6T" tabindex="0">
</body>
</html>